<!DOCTYPE html>
<html>
<head>
  <title>Technology Stack</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body>
  <div class="jumbotron jumbotron-fluid bg-danger mb-0">
    <div class="container text-light">
      <h1 class="display-3">Technology Stack 2017</h1>
      <p class="lead">
        A list of JavaScript libraries and frameworks that a developer should know
      </p>
    </div>
  </div>
  <div ng-app="techApp" ng-controller="TechListController">
    <div class="nav bg-dark text-light">
      <div class="nav-item">
        <select class="form-control" ng-model="sortorder">
          <option value="-year">Latest First</option>
          <option value="year">Oldest First</option>
        </select>
      </div>
      <label class="form-check-label form-check-inline nav-item ml-3">
        <input class="form-check-input" type="checkbox" ng-model="filter" data-ng-true-value="{ org: 'Community' }" data-ng-false-value="''">
        Show only Community-developed frameworks
      </label>
    </div>
    <div class="list-group">
      <div ng-repeat="tech in techList | orderBy: sortorder | filter: filter" class="list-group-item bg-dark text-white border border-light">
        <div class="row">
          <div class="col-2">
            <img class="img-thumbnail" ng-src="{{ tech.imageUrl }}" alt="{{ tech.name }}" />
          </div>
          <div class="col-10">
            <h3>{{ tech.name }}</h3>
            Year : <strong><span ng-bind="tech.year"></span></strong></br>
            Developed by : <strong><span ng-bind="tech.org"></span></strong>
            <p class="py-2">
              {{ tech.description.slice(0, 200) + '....' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers/TechListController.js"></script>
</body>
</html>
